body {
  background-color: pink;
}
p {
    font-size: 15px;
    font-family: helvetica;
    font-style: italic;
  color: orange;
}
div {
  background-color: blue;
  border: solid red 5px;
  border-radius: 50%;
  height: 100px;
  width: 200px;
  margin: 200px;
}
